[submodule "src/bot/motor_control"]
	path = src/bot/motor_control
	url = https://github.com/matthewdhanley/motor_control.git
[submodule "src/host/teleop"]
	path = src/host/teleop
	url = https://github.com/matthewdhanley/teleop.git
[submodule "src/bot/apriltags_ros"]
	path = src/bot/apriltags_ros
	url = https://github.com/cosmicog/apriltags_ros
[submodule "src/bot/state-machine"]
	path = src/bot/state-machine
	url = https://github.com/matthewdhanley/state-machine.git
[submodule "src/bot/robot_actions"]
	path = src/bot/robot_actions
	url = https://github.com/matthewdhanley/robot_actions.git
[submodule "src/bot/usb_cam"]
	path = src/bot/usb_cam
	url = https://github.com/matthewdhanley/usb_cam.git
