[submodule "src/bot/motor_control"]
	path = src/bot/motor_control
	url = https://github.com/matthewdhanley/motor_control.git
[submodule "src/host/teleop"]
	path = src/host/teleop
	url = https://github.com/matthewdhanley/teleop.git
